<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento html</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css" />

</head>

<body>
    <header id="header">

        <div class="contenedor-1">
            <img class="imagen-mercado-liebre" src="/images/logo-mercado-liebre.svg" alt="Imagen mercadoliebre">
            <div class="buscador-y-lupa">

                <label for="buscador-del-sitio"></label>
                <a class="buscador"><input type="search" placeholder="buscar, productos, marcas" size="15"
                        id="buscador-del-sitio" name="buscador-principal" maxlength="50"></a>
                <a class="boton-lupa"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>

            <div class="cuerpo-texto-icono">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <a class="cuerpo-de-texto">Comprá en cuotas y sin tarjeta de creédito</a>

            </div>
        </div>

        <section>

            <a class="hamburguer-button">
                <i class="fa-solid fa-bars"></i>
            </a>

        </section>
        <nav class="opciones-listas">
            <article>
                <div>
                    <ul class="lista-opciones">
                        <a class="opciones-de-lista-ofertas" href="">Ofertas</a>
                        <a class="opciones-de-lista-tiendas" href="">Tiendas Oficiales</a>
                        <a class="opciones-de-lista-vender" href="">Vender</a>
                        <a class="opciones-de-lista-ayuda" href="">Ayuda</a>
                    </ul>
                </div>
            </article>
            <article>
                <div>
                    <ul class="lista-opciones-dos">
                        <a href="/registracion" class="opciones-de-lista-cuenta">Crea tu cuenta</a><a><i
                                class="fa-solid fa-address-card"></i></a>
                        <a href="/iniciarsesion" class="opciones-de-lista-ingresar">Ingresá</a><a><i
                                class="fa-solid fa-right-to-bracket"></i></a>
                        <a href="" class="opciones-de-lista-compras">Mis compras</a><a><i
                                class="fa-sharp fa-solid fa-basket-shopping"></i></a>
                    </ul>

                </div>
            </article>
        </nav>

        <section>
            <img id="banner" src="/images/img-home-banner.jpg" alt="Imagen">
        </section>

    </header>
    <!--  --> <!--  --> <!--  --> <!--  -->
    <main class="main">

        <section class="seccion-ultima-visita">
            <article class="titulares">
                <h2>Basado en tu ultima visita</h2>
            </article>
            <article class="items-main-cafetera">

                <div>
                    <a><img class="items-imagenes" src="/images/img-cafetera-moulinex.jpg" alt="Imagen"></a>
                </div>
                <div class="info-items">
                    <a class="logo-transporte"><i class="fa-sharp fa-solid fa-truck"></i></a>
                    <div class="precio-descuento">
                        <ls class="precios">$6.770</ls>
                        <ls class="descuentos">40% off</ls>
                    </div>
                    <div>
                        <ls class="descripciones">Cafetera Moulinex</ls>
                    </div>
                </div>

            </article>
            <article class="items-main-mcbook">
                <a><img class="items-imagenes" src="/images/img-macbook-pro-2019.jpg" alt="Imagen"></a>
                <div class="info-items">
                    <div class="logo-transporte"><a><i class="fa-sharp fa-solid fa-truck"></i></a></div>
                    <div class="precio-descuento">
                        <ls class="precios">$230.000</ls>
                        <ls class="descuentos">20% off</ls>
                    </div>
                    <div>
                        <ls class="descripciones">McBook Pro 2019</ls>
                    </div>
                </div>
            </article>
            <article class="items-main-samsung">
                <a><img class="items-imagenes" src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen"></a>
                <div class="info-items">
                    <div class="logo-transporte"><a><i class="fa-sharp fa-solid fa-truck"></i></a></div>
                    <div class="precio-descuento">
                        <ls class="precios">$70.500</ls>
                        <ls class="descuentos">10% off</ls>
                    </div>
                    <div>
                        <ls class="descripciones">Samsung Galaxy S10</ls>
                    </div>
                </div>
            </article>
            <article class="items-main-tv">
                <a><img class="items-imagenes" src="/images/img-tv-samsung-smart.jpg" alt="Imagen"></a>
                <div class="info-items">
                    <div class="logo-transporte"><a><i class="fa-sharp fa-solid fa-truck"></i></a></div>
                    <div class="precio-descuento">
                        <ls class="precios">$23.200</ls>
                        <ls class="descuentos">5% off</ls>
                    </div>
                    <div>
                        <ls class="descripciones">SmartTv Samsung 43"</ls>
                    </div>
                </div>
            </article>
        </section>
        <section class="seccion-ofertas">
            <article class="titulares">
                <h2>Ofertas</h2>
            </article>
            <article class="items-main">
                <a><img class="items-imagenes" src="/images/img-cafetera-moulinex.jpg" alt="Imagen"></a>
                <div class="info-items">
                    <div class="logo-transporte"><a><i class="fa-sharp fa-solid fa-truck"></i></a></div>
                    <div class="precio-descuento">
                        <ls class="precios">$6.770</ls>
                        <ls class="descuentos">40% off</ls>
                    </div>
                    <div>
                        <ls class="descripciones">Cafetera Moulinex</ls>
                    </div>
                </div>
            </article>
            <article class="items-main">
                <a><img class="items-imagenes" src="/images/img-macbook-pro-2019.jpg" alt="Imagen"></a>
                <div class="info-items">
                    <div class="logo-transporte"><a><i class="fa-sharp fa-solid fa-truck"></i></a></div>
                    <div class="precio-descuento">
                        <ls class="precios">$230.000</ls>
                        <ls class="descuentos">20% off</ls>
                    </div>
                    <div>
                        <ls class="descripciones">McBook Pro 2019</ls>
                    </div>
                </div>
            </article>
            <article class="items-main">
                <a><img class="items-imagenes" src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen"></a>
                <div class="info-items">
                    <div class="logo-transporte"><a><i class="fa-sharp fa-solid fa-truck"></i></a></div>
                    <div class="precio-descuento">
                        <ls class="precios">$70.500</ls>
                        <ls class="descuentos">10% off</ls>
                    </div>
                    <div>
                        <ls class="descripciones">Samsung Galaxy S10</ls>
                    </div>
                </div>
            </article>
            <article class="items-main">
                <a><img class="items-imagenes" src="/images/img-tv-samsung-smart.jpg" alt="Imagen"></a>
                <div class="info-items">
                    <div class="logo-transporte"><a><i class="fa-sharp fa-solid fa-truck"></i></a></div>
                    <div class="precio-descuento">
                        <ls class="precios">$23.200</ls>
                        <ls class="descuentos">5% off</ls>
                    </div>
                    <div>
                        <ls class="descripciones">SmartTv Samsung 43"</ls>
                    </div>
                </div>
                </div>
            </article>
        </section>

    </main>

    <footer>
        <section class="footer-alig">

            <article class="footer-align">
                <div class="footer-payment">
                    <a class="icons-footer"><i class="fa-solid fa-credit-card"></i></a>
                    <h4 class="titulos-footer">Pagá con tarjetas o en efectivo</h4>
                    <p>Con Mercado liebre Cash,<br> tenés cuotas sin interés con tarjeta o efectivo en puntos de
                        pago.<br>¡Y siempre es seguro!</p>
                </div>
                <div class="footer-envios">
                    <a class="icons-footer"><i class="fa-solid fa-gift"></i></a>
                    <h4 class="titulos-footer">Envío gratis desde $2.500</h4>
                    <p>Solo por estar registrado en Mercado Liebre <br>tenés envíos gratis en miles de productos.<br> Es
                        un beneficio de Mercado Puntos.</p>
                </div>
                <div class="footer-seguridad">
                    <a class="icons-footer"><i class="fa-solid fa-user-shield"></i></a>
                    <h4 class="titulos-footer">Seguridad, de principio a fina</h4>
                    <p>¿No te gusta?¡Devolvelo!<br>En Mercado Liebre, no hay nada que no puedas hacer,<br> porque estás
                        siempre protegido</p><br>
                </div>

                <h5 class="footer-copyrigth">Copyrigth © 1999-2020 Mercado Liebre S.R.L.</h5>
            </article>

        </section>

    </footer>
</body>

</html>