@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



/* <head> */            /* **************************************************** */


#header {

    width: 100vw;
    background-color: #EAC926;

}

.contenedor-1{

    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    margin: auto;
    padding: 20px;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;

}

.imagen-mercado-liebre {

    display: flex;
    flex-wrap: wrap;
    width: 10vw;
    min-width: 150px;
    max-width: 200px;
    box-sizing: border-box;
    order: 0;
    flex-grow: .5;
}

.buscador-y-lupa{

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px;
    order: 1;
    flex-grow: .5;

}

.buscador{

display: flex;
flex-wrap: wrap;
box-sizing: border-box;
max-height: 15px;
max-width: 40px;

}

.boton-lupa {

    display: inline-flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    color: black;
    max-width: 20px;
    max-height: 20px ;
    padding: 2px;
    border-radius: 5px;
    text-align: left;
    border: 2px solid brown;
    font-size: 12px;
    box-sizing: border-box;
    order: 1;
    position: relative;
    right: -75px;
}

.cuerpo-texto-icono{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
    box-sizing: border-box;
    justify-content: center;
    order: 1;
    position: relative;
    top: 20px;

}

#banner {
    
    display: block;
    max-width: 100vw;
    margin: auto;
    box-sizing: border-box;

}

.opciones-lista {
    display: none;
}


/* </head> */                   /* **************************************************** */

/* <body> */                                /* **************************************************** */

body {

    margin: 0px;
    padding: 0px;

}


.seccion-ultima-visita {

    margin-top: 5vh;
    box-sizing: border-box;
}

.seccion-ofertas {

    margin-bottom: 5vh;
    box-sizing: border-box;
}



.hamburguer-button {

    display: block;
    background-color: #03264C;
    color: white;
    max-width: 40px;
    padding: 10px 0;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    box-sizing: border-box;
}

/*  MAIN  */                        /* **************************************************** */
 
.main {

    display: block;
    max-width: 90vw;
    margin: auto;
    margin-top: 5vh;
    box-sizing: border-box;
    background-color: whitesmoke;
    padding: 5vh;
    margin-bottom: 5vh;
}

.items-main {

    display: block;
    max-width: 300px;
    margin: auto;
    padding: 10px;
    border-top: solid 1px #ebebeb;
    box-sizing: border-box;

}

/* El ejercicio cambio la cantidad de items que tiene por eso las asignaciones */

.items-main-cafetera , .items-main-mcbook, .items-main-samsung, .items-main-tv{

    display: block;
    max-width: 280px;
    margin: auto;
    padding: 10px;
    border-top: solid 1px #ebebeb;
    box-sizing: border-box;

}

.info-items {
    max-width: 280px;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    border-top: solid 1px whitesmoke;

}

.items-imagenes {

    display: block;
    max-width: 100%;
    margin: auto;
    box-sizing: border-box;
}

.titulares {

    display: flex;
    margin: auto;
    font-family: 'Roboto';
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

}

.precio-descuento {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 8px;
    justify-content: flex-start;
    box-sizing: border-box;
}

.precios {

    display: flex;
    flex-wrap: wrap;
    color: rgb(100, 100, 100);
    font-family: 'Roboto';
    font-size: 18px;
    align-items: center;
    margin: 0px 5px;
    order: 1;
    flex-grow: 30%;
    align-self: flex-end;
    box-sizing: border-box;


}

.descuentos {

    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto';
    font-size: 14px;
    margin: 0px 5px;
    color: rgb(8, 196, 8);
    order: 2;
    flex-grow: 70%;
    align-self: flex-end;
    box-sizing: border-box;

}

.logo-transporte {

    display: flex;
    width: 30px;
    height: 30px;
    padding: 6px 6px;
    background-color: white;
    color: rgb(8, 196, 8);
    border-radius: 50%;
    border: solid 2px rgb(8, 196, 8);
    font-size: 10px;
    box-sizing: border-box;
    align-self: flex-end;
    position: relative;
    top: -25px;
    z-index: 1;

}

.descripciones {

    font-family: 'Roboto';
    font-size: 16px;
    color: gray;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    order: 2;
    justify-content: center;
    align-items: flex-end;
    padding-left: 10px;
    box-sizing: border-box;
}

/* Pagina de registracion abre body */

.formulario{

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: gainsboro;
    min-height: 1000px;
    width: 100vw;
    height: 100vh;
    padding: 8%;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}


.perfil-usuario{

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-bottom: 30px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.interes-general{

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-bottom: 40px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.foto-usuario{

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 100px;
    width: 300px;
    margin-bottom: 40px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.contraseña-confirmacion{
    
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative; 
}

.ingresar-contraseña{

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    order: 0;
    flex-direction: row;
    justify-content: space-between;

}

.confirmar-contraseña{

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    order:1;
    flex-direction: row;
    justify-content: space-between;
}

.botones-envio-borrar{

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 100px;
    width: 150px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.botones-envio-borrar :hover{

    background-color: #0022AA;
    color: white;
}

/* Pagina de registracion cierra body */

/* Pagina de inicion de sesion cierra body */

.inicio-sesion{

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 8%;
    background-color: gainsboro;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.formulario-inicio-sesion{

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 200px;
    width: 300px;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    margin-top: 20px;
}

.inicio-user-name {

    display: flex;
    width: 80%;
}


.input-user-name{

    display: flex;
    width: 100%;
    height: 20px;
    border-radius: 5px;
}   



.input-password{

    display: flex;
    width: 100%;
    height: 20px;
    border-radius: 5px;
}

.inicio-sesion-button {

    color: white;
    background-color: blue;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}



/* Pagina de inicio de sesion cierra body */

/* </body> */                  /* **************************************************** */

/* <footer */                     /* **************************************************** */

.footer-align {

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    max-width: 90vw;
    margin-top: 50px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.icons-footer {

    display: block;
    color: #1259c3;
    width: 2em;
    margin: auto;
    font-size: 30px;
    padding-bottom: 10px;
}

.titulos-footer {

    font-family: 'Roboto';
    font-size: 20px;
}

.footer-payment{

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 5%;
}

.footer-envios{

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 5%;
}

.footer-seguridad{

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 5%;
}

.footer-copyrigth{

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

/* </footer */                              /* **************************************************** */


/* MEDIA  */                                /* **************************************************** */

/* Min width como minimo el VP tiene Nº px */
/* Max width como maximo el VP tiene Nº px */



/* A partir de aca, smaller spartphones */

@media ( min-width : 0px){

    .seccion-ofertas{
        
        display: none;
    }

    .items-main-mcbook , .items-main-samsung , .items-main-tv{

        display: none;
    }

    .descripciones{

        display: none;
    }

    .opciones-listas{

        display: none;
    }

}

/* A partir de aca , Tablets & larger smartphones */

@media (min-width : 361px ) /*  and (orientation : landscape)  */{



    .precio-descuento {

        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .precios {
        align-self: flex-start;

    }

    .descuentos {
        align-self: flex-start;

    }

    .seccion-ofertas{

        display: none;
    }

    .items-main-mcbook , .items-main-samsung, .items-main-tv{

        display: none;
    }


}


/* MEDIA 769 */ /*  Laptops, larger tablets, small desktops*/                /* **************************************************** */


@media (min-width : 769px) {

    
    /*      HEADER      media : min width 769  */  

    .contenedor-1{

        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100vw;
        padding: 20px;
        box-sizing: border-box;
        justify-content: space-around;
        align-items: center;
        
    }

    .imagen-mercado-liebre {

    display: flex;
    flex-wrap: wrap;
    width: 200px;
    box-sizing: border-box;
    order: 0;
    flex-grow: .33;

    }   

    .buscador-y-lupa{

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px;
    order: 1;
    flex-grow: .33;


    }

    .cuerpo-texto-icono{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
    box-sizing: border-box;
    max-width: 40   vw;
    justify-content: flex-end;
    order: 3;
    flex-grow: .33;
    position: relative;
    top: 0px;

    }

    
    .hamburguer-button{
    
            display: none;
        }

    /* Cambio el hamburguer button por una lista horizontal de opciones en el header. */
    /* Esta se divide en dos. lado izquierdo, lado derecho. */

    .opciones-listas{
    
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            width: 95vw;
            margin: auto;
            align-items: flex-start;
            justify-content: space-around;

        }


    .lista-opciones{

            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;
            font-family: 'Roboto';
            font-size: 12px;
            justify-content: flex-end;
            align-items: center;
            
    }
    
    .opciones-de-lista-ofertas{
        
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        order: 1;
        position: relative;
        left: -80px;
    }
    
    .opciones-de-lista-tiendas{
        
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        order: 2;
        position: relative;
        left: -60px;
    }
    
    .opciones-de-lista-vender{
        
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        order: 3;
        position: relative;
        left: -40px;
    }
    
    .opciones-de-lista-ayuda{
        
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        order: 4;
        position: relative;
        left: -20px;
    }
    
    
    .lista-opciones-dos{
    
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        flex-direction: row;
        font-family: 'Roboto';
        font-size: 12px;
        flex-grow: 1;
        justify-content: flex-start;
        align-items: center;    
    }

    .opciones-de-lista-cuenta{

        display: flex; 
        flex-wrap: wrap;
        box-sizing: border-box;
        position: relative;
        right: 30px;
        
    }
    
    .fa-address-card{
        
        display: flex; 
        flex-wrap: wrap;
        box-sizing: border-box;
        position: relative;
        right: 25px;
        
        
    }
    
    .opciones-de-lista-ingresa{
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        position: relative;
        right: 0px;
    }
    
    .fa-right-to-bracket{
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        position: relative;
        right: -5px;
        
    }
    
    .opciones-de-lista-compras{
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        position: relative;
        right: -30px;
        
    }
    
    .fa-basket-shopping{
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        position: relative;
        right: -35px;
        
        
    }
      
    
    /*      BODY        media : min width 769  */                     /* **************************************************** */
    
    .items-main {
        
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        
    }

    .seccion-ofertas{

        display: none;
    }
    
    .items-main-samsung , .items-main-tv{
    
        display: none;
    }

    .items-main-mcbook{

        display: block;
    }

    .descripciones {

        display: block;
    
    }



/* footer - cambio de imagen, con flexbox */

.footer-align{

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}



.footer-payment , .footer-envios , .footer-seguridad{
    
    display: flex;
    width: 30%;
}

.footer-envios :hover {

    color:goldenrod;
    font-weight: bold;
}

.footer-payment:hover{

    color: green;
    font-weight: bold;
}

.fa-credit-card:hover{

    color: green;
}

.footer-seguridad :hover{

    color: red;
    font-weight: bold;
}




}/* Hasta aca es la media querie 769 */

/* MEDIA 1279 */                        /* **************************************************** */

@media (min-width :1279px) {


/* HEADER   min width 1279 */




/* BODY       min width 1279 */

    .main {

        margin: auto;
        padding: 0px;
    }

    .titulares {

        align-self: flex-start;
        justify-content: flex-start;
        order: -1;
        display: none;
    }

    .seccion-ofertas{

        display: none;
    }

    .seccion-ultima-visita{

        display: flex;
    }

    .items-main-tv, .items-main-samsung{


        display: block;

    }




}